@font-face {
  font-family: "Aquire";
  src: local("Aquire"), url("../../fonts/Aquire-BW0ox.otf") format("truetype");
}

.outer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat {
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
}

.button {
  border: 2px solid black;
  font-family: "Aquire";
}

.logoShip {
  position: relative;
  top: 0.5px;
  left: 5px;
}

#chatText {
  padding-right: 1.5%;
  padding-left: 1.8%;
  margin-bottom: 1px;
}
